.promo {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') center center / cover no-repeat;
    padding-top: 205px;
    &__title {
        margin-top: 10px;
        max-width: 535px;
    }
    &__subtitle {
        padding-left: 10px;
        z-index: 2;
        position: relative;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: $color-main;
        text-decoration: none;
        font-weight: bold;
        &:hover {
            color: #000;
        }
    }
}